{% extends 'base.html' %}

{% load static %}

{% block title %}
  Add snippet
{% endblock %}


{% block style %}
        {{ block.super }}          
        <!-- Custom styles for this template -->
        <style>
            main > .container {
                padding: 60px 15px 0;
            }

            .footer {
                background-color: #f5f5f5;
            }

            .footer > .container {
                padding-right: 15px;
                padding-left: 15px;
            }
        </style>
{% endblock %}

{% block content%}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form action="" method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <div class="form-group row">
                        <div class="col-8">
                            <input type="submit" class="btn btn-primary btn-block" value="Сохранить">
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    {% endblock %}



